{{#bs-navbar backgroundColor="primary" as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    <a class="navbar-brand" href="#">EconLab</a>
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "index"}}Home{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.dropdown as |dd|}}
        {{#dd.toggle}}Experiments <span class="caret"></span>{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}
            {{#ddm.link-to "experiments"}}Browse{{/ddm.link-to}}
          {{/ddm.item}}
          {{#ddm.item}}
            {{#ddm.link-to "experiments"}}Running{{/ddm.link-to}}
          {{/ddm.item}}
        {{/dd.menu}}
      {{/nav.dropdown}}
      {{#nav.item}}
        {{#nav.link-to "index"}}Navbars{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

{{outlet}}
